@font-face {
  font-family: fav;
  src: url(Montserrat-Regular.ttf);
}
@font-face {
  font-family: favthin;
  src: url(Montserrat-Thin.ttf);
}
*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0px;
  padding: 0px;
}
.main{
  height: auto;
  width: 1300px;
  background-color: #F1EDE3;
  margin: 20px auto;
}
#wrap{
  width: 1024px;
  min-height: 120vh;
  background: #F1EDE3;
  margin: 0 auto;
  border-radius: .05%;
}
#profile{
  height: 100px;
  max-width: 400px;
  background: #1A2238;
  display: flex;
  margin: 20px;
  padding: 20px;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}
#profile img{
  border-radius: 50%;
  height: 90%;
}
#profile_text b{
  color: #F1EDE3;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  margin-top: 10px;
  font-family: favthin;
  flex-grow: 1;
}
#profile_text{
  color: #F1EDE3;
  font-size: 35px;
  font-weight: bold;
  margin: 0px;
  margin-top: 10px;
  font-family: fav;
  flex-grow: 1;
  text-align: center;
}
#Education{
  height: 50px;
  width: 500px;
  font-family: fav;
  margin-left: auto;
  margin-right: 15px;
}
#Education h1{
  font-size: 25px;
}
#Education p{
  font-size: 18px;
  font-style: favthin;
}
#languages p{
  font-family: fav;
}
#languages{
  margin: 10px;
  padding: 20px;
  max-width: 300px;
  max-height: 200px;
  color: #1A2238;
  font-family: fav;
}
#languages a{
  text-decoration: none;
  background: #1A2238;
  padding: 15px 40px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}
#languages .python{
  color: #cdc832;
}
#languages .java{
  color: #be4141;
}
#languages .css{
  color: #446cbb;
}
#languages .html{
  color: #d27f2d;
}
.python:hover{
  color: #cdc832;
  box-shadow: 0 5px 15px #cdc832;
}
.java:hover{
  color: #be4141;
  box-shadow: 0 5px 15px #be4141;
}
.css:hover{
  color: #446cbb;
  box-shadow: 0 5px 15px #446cbb;
}
.html:hover{
  color: #d27f2d;
  box-shadow: 0 5px 15px #d27f2d;
}
#about{
  padding: 50px;
  width: auto;
  height: 130vh;
  background-color: #1A2238;
  background-size: cover;
  background-position: center;
}
