@font-face {
  font-family: fav;
  src: url(Montserrat-Regular.ttf);
}
@font-face {
  font-family: favthin;
  src: url(Montserrat-Thin.ttf);
}

*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0px;
  padding: 0px;
}
#about{
  padding: 50px;
  width: auto;
  background-color: #1A2238;
  background-size: cover;
  background-position: center;
  height: 110vh;
}
.main{
  background-color: #F1EDE3;
  margin: 20px auto;
}
#wrap{
  width: 100vh;
  min-height: 110vh;
  background: #F1EDE3;
  margin: 0vh auto;
  border-radius: .05vh;
}
#left_side{
 margin: 0;
 padding: 0;
 width: 40%;
 background-color: #E6E2D8;
 min-height: 94.8vh;
}
#right_side{
  margin: 0;
  padding: 0;
  width: 60vh;
  height: 80vh;
}
#top{
  display: flex;
}
#bottom{
  display: flex;
  height: 80vh;
}
#Extracurriculars{
  margin: 15px;
  margin-left: 40px;
  padding: 10px;
  max-width: 30vh;
  max-height: 100vh;
  color: #1A2238;
  font-family: fav;
  font-size: 25px;
}
#Extracurriculars li{
  font-size: 18px;
  list-style: circle;
  margin: 15px;
}
#spoken_languages, #Interests {
  margin-left: 40px;
  padding: 10px;
  max-width: 30vh;
  max-height: 100vh;
  color: #1A2238;
  font-family: fav;
  font-size: 18;
}
#spoken_languages li, #Interests li{
  font-size: 13px;
  font-family: fav;
  list-style: circle;
  margin: 10px;
}
#profile{
  height: 100px;
  max-width: 400px;
  background: #1A2238;
  display: flex;
  padding: 18px;
  border-bottom-right-radius: 5%;
}
#profile img{
  border-radius: 50%;
  height: 90%;
  margin: 10px
}
#profile_text b{
  color: #F1EDE3;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  margin-top: 10px;
  font-family: favthin;
  flex-grow: 1;
}
#profile_text{
  color: #F1EDE3;
  font-size: 35px;
  font-weight: bold;
  margin: 0px;
  margin-top: 10px;
  font-family: fav;
  flex-grow: 1;
  text-align: center;
}
#Education{
  margin-top: 10px;
  height: 50px;
  width: 500px;
  font-family: fav;
  margin-left: auto;
  margin-right: 15px;
}
#Education h1{
  font-size: 25px;
}
#Education p{
  font-size: 15px;
  font-style: favthin;
}
#nums{
  display: flex;
}
#stats{
  margin-left: 10vh;
}
#languages{
  margin: 10px;
  margin-left: 40px;
  padding: 10px;
  max-width: 40vh;
  max-height: 100vh;
  color: #1A2238;
  font-family: fav;
}
#languages a{
  text-decoration: none;
  background: #1A2238;
  padding: 15px 40px;
  border-radius: 50px;
  width: 15px;
  transition: all 0.2s ease-in-out;
}
#languages .python{
  color: #cdc832;
}
#languages .java{
  color: #be4141;
}
#languages .css{
  color: #446cbb;
}
#languages .html{
  color: #d27f2d;
}
.python:hover{
  color: #cdc832;
  box-shadow: 0 5px 15px #cdc832;
}
.java:hover{
  color: #be4141;
  box-shadow: 0 5px 15px #be4141;
}
.css:hover{
  color: #446cbb;
  box-shadow: 0 5px 15px #446cbb;
}
.html:hover{
  color: #d27f2d;
  box-shadow: 0 5px 15px #d27f2d;
}
