*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0px;
  padding: 0px;
}
.main{
  height: auto;
  width: 1300px;
  background-color: #F4DB7D;
  margin:20px auto;
}
.about{
  color: #123C69;
  padding-left: 100px;
  padding-top: 350px;
  height: auto;
  width: 300px;
  position: absolute;
  font-family: sans-serif;
  font-size: 15px;
}
.exp{
  padding-left: 450px;
  padding-top: 20px;
  height: auto;
  width: 825px;
}
.others{
  padding-left: 0px;
  padding-top: 70px;
  height: 0px;
  width: 200px;
}
.top-section{
  background-color: #1A2238;
  text-align: left;
  padding: 30px;
  position: absolute;
}
.profile{
  width: 150px;
  border-radius: 50%;
  left: 100px;
  position: relative;
}
.p1{
  color: #F1EDE3;
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
  margin-top: 10px;
  font-family: sans-serif;
}
.p1 span{
  font-weight: 200;
  color: #EEE2DC;
  font-size: 50px;
}
.p2{
  font-size: 15px;
  color: #EEE2DC;
  margin: 0px;
  margin-top: 10px;
  font-size: 20px;
  font-family: sans-serif;
}
ul > li {
    margin-left: 50px;
}
.p3{
  margin: 0px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 15px;
  text-align: left;
  color: #123C69;
  position: static;
}
.p3 u{
  font-weight: bold;
  list-style: none;
  font-size: 25px;
}
.title li{
  font-weight: bold;
  list-style: none;
  font-size: 23px;
}
.description{
  font-size: 15px;
  list-style: inherit;
  color: #AAA2A9;
}
.p3 p{
  font-size: 20px;
  color: #AAA2A9;
}
.p4{
  margin: 0px;
  list-style: none;
  padding: 0px;
  top: -350px;
  left: 100px;
  font-family: sans-serif;
  font-size: 15px;
  text-align: left;
  color: #123C69;
  position: relative;
}
.p4 li{
  list-style: none;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #FF6A3D;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: .75s;
}
.navbar ul li:hover::after{
  width: 100%;
  background: #F4DB7D;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 25px;
  font-family: monospace;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #FF6A3D;
  text-transform: uppercase;
  transition: 1s;
}
.navbar ul li a:hover{
  text-decoration: none;
  color: #F4DB7D;
  text-transform: uppercase;
}
.banner{
  width: 100%;
  height: 125vh;
  background-color: #1A2238;
  background-size: cover;
  background-position: center;
}
.navbar{
  width: 92.5%;
  margin: auto;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
